# Logs
Frontend/logs
Backend/logs
Frontend/*.log
Backend/*.log
Frontend/npm-debug.log*
Backend/npm-debug.log*
Frontend/yarn-debug.log*
Backend/yarn-debug.log*
Frontend/yarn-error.log*
Backend/yarn-error.log*
Frontend/pnpm-debug.log*
Backend/pnpm-debug.log*
Frontend/lerna-debug.log*
Backend/lerna-debug.log*

Frontend/node_modules
Backend/node_modules
Frontend/dist
Backend/dist
Frontend/dist-ssr
Backend/dist-ssr
Frontend/*.local
Backend/*.local

# Editor directories and files
Frontend/.vscode/*
Backend/.vscode/*
!.vscode/extensions.json
Frontend/.idea
Backend/.idea
Frontend/.DS_Store
Backend/.DS_Store
Frontend/*.suo
Backend/*.suo
Frontend/*.ntvs*
Backend/*.ntvs*
Frontend/*.njsproj
Backend/*.njsproj
Frontend/*.sln
Backend/*.sln
Frontend/*.sw?
Backend/*.sw?

# Environment variables
Frontend/.env
Backend/.env

node_modules/
